/*:root {
    --primaryColor: rgb(250, 250, 250);
    --secondaryColor: #fc5203;
    --tertiaryColor: black;
    --quaternaryColor: gainsboro;
}*/

/*Game menu*/
.game-container {
    width: fit-content; 
    margin: 50px;
    margin-top: 20px;
}
.games {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
}
.game {
    height: min-content;
    aspect-ratio: 2/1;
    display: flex;

    text-decoration: none;
    background-color: white;
    color: black;
}
.game p{
    text-align: center;    
}
.game img {
    width: 100%;
    aspect-ratio: 16/9;
}
/*Game list*/
.games .game {
    width: 20%;
    flex-wrap: wrap;
    justify-content: center;

    border: solid 2px black;
    box-shadow: 5px 5px 0 0 var(--secondaryColor);
    margin-bottom: 5%;
}
.games .game:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 1px 0.8px var(--secondaryColor);
}
.games .game p{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*Trending games display*/
.trending {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 2/1;
    margin-bottom: 50px;
}
.trending .game {
    display: flex;
    aspect-ratio: 20/9;
    position: relative;

    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px 0;
}
.trending .game:hover {
    box-shadow: 0 0 20px 0;
}
.trending .game img, .trending .game p{
    height: 100%;
    align-self: center;
    margin: 0;
}
.trending .game p{
    height: min-content;
    text-align: center;
    text-decoration: none;
    background-color: white;
}
.trending button {
    height: 10%;
    aspect-ratio: 1/1.5;
    background: transparent;
    border: solid 2px var(--primaryColor);
    border-radius: 5px;
}
.trending button:hover {
    border: solid 2px var(--secondaryColor);
}
.trending button img {
    width: 100%;
    height: 100%;
}